body, html {
  margin: 0;
  padding: 0;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
/* Level 1: Entrance*/
.level1 {
  background-image: url("newEntrance.png");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
#img0 {
  position: absolute;
  top: 16%;
  left: 25%;
}
#img0_1 {
  position: absolute;
  top: 52%;
  left: 80%;
}
#img0_2 {
  position: absolute;
  top: 51%;
  left: 31%;
}
#img0_3 {
  position: absolute;
  top: 54%;
  left: 34%;
}
#img0_4 {
  position: absolute;
  top: 58%;
  left: 31%;
}
#img0_5 {
  position: absolute;
  top: 60%;
  left: 36%;
}
#img0_6 {
  position: absolute;
  top: 62%;
  left: 33%;
}
#img0_7 {
  position: absolute;
  top: 80%;
  left: 60%;
}
/* Level 2: Lust*/
.level2 {
  background-image: url("limbo.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
#img1 {
  position: absolute;
  top: 55%;
  left: 91%;
}
#img1_1 {
  position: absolute;
  top: 45%;
  left: 12%;
}
#img2 {
  position: absolute;
  top: 50%;
  left: 90%;
}
.level3 {
  background-image: url("lust.png");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level4 {
  background-image: url("gluttony.png");
  background-size: cover;
  min-height: 90vh;
  background-position: center center;
  position: relative;
}
.level5 {
  background-image: url("greed.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level6 {
  background-image: url("anger.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level7 {
  background-image: url("heresy.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
#img7 {
  position: absolute;
  top: 63%;
  left: 75%;
}
.level8 {
  background-image: url("violence.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level9 {
  background-image: url("fraud.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level10 {
  background-image: url("treachery.jpeg");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
