body, html {
  margin: 0;
  padding: 0;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.level1 {
  background-image: url("entrance.jpeg");
  background-size: cover;
  min-height: 200vh;
  background-position: center center;
  position: relative;
}
#img1 {
  position: absolute;
  top: 55%;
  left: 91%;
}
#img1_1 {
  position: absolute;
  top: 45%;
  left: 12%;
}
.level2 {
  background-image: url("gears.gif");
  background-size: cover;
  min-height: 60vh;
  background-position: center center;
  position: relative;
}
#img2 {
  position: absolute;
  top: 50%;
  left: 90%;
}
.level3 {
  background-image: url("");
  background-size: cover;
  min-height: 60vh;
  background-position: center center;
  position: relative;
}
.level4 {
  background-image: url("minecraftlvl.png");
  background-size: cover;
  min-height: 80vh;
  background-position: center center;
  position: relative;
}
.level5 {
  background-image: url("lvl2.png");
  background-size: cover;
  min-height: 70vh;
  background-position: center center;
  position: relative;
}
.level6 {
  background-image: url("lvl2_1.jpeg");
  background-size: cover;
  min-height: 60vh;
  background-position: center center;
  position: relative;
}
.level7 {
  background-image: url("lvl1.gif");
  background-size: cover;
  min-height: 50vh;
  background-position: center center;
  position: relative;
}
.level8 {
  background-image: url("black-eye.gif");
  background-size: cover;
  min-height: 60vh;
  background-position: center center;
  position: relative;
}
