body, html {
  margin: 0;
  padding: 0;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.level1 {
  background-image: url("level1-1.png");
  background-size: cover;
  min-height: 100vh;
  background-position: center center;

}
